html,
body {
  height: 100%;
}

body {
  background: #22182f;
  background-image: linear-gradient(rgb(23, 0, 42), rgb(67, 7, 126));
  margin: 0;
  font-family: 'Inter', sans-serif;
}

#canvas1 {
  border: solid black 5px;
  position: relative;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 40px;
  box-shadow: 5 0 20px white;
  animation: boxshade 5s infinite;
  background: #22182f;
}

.container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 40%;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.wrapper {
  width: 820px;
  height: 620px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 40px;
  box-shadow: 0 0 20px white;
  animation: boxshade 5s infinite;
  background: #22182f;
}

#backBtn {
  width: 100px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  position: absolute;
  background: #184080;
  border-radius: 5px;
  box-shadow: 0 0 4px lrgb(56, 133, 241);
  color: white;
  font-size: 18px;
  font-family: 'Coda', cursive;
}

#pauseButton {
  width: 80px;
  height: 35px;
  margin: auto;
  position: relative;
  background: #184080;
  border-radius: 5px;
  box-shadow: 0 0 4px lrgb(56, 133, 241);
  color: white;
  display: inline;
  font-size: 18px;
  justify-content: center;
  font-family: 'Coda', cursive;
}

.slider-block {
  position: relative;
  display: inline;
}

#musicVolumeLabel {
  color: rgb(218, 167, 230);
  display: block;
  font-family: 'Coda', cursive;
}

/* boxes */

.box {
  width: 200px;
  height: 300px;
  margin-left: 400px;
  margin-top: 50px;
  padding: 50px;
  position: absolute;
  background: #0bcaff;
  border-radius: 40px;
  box-shadow: 0 0 20px lightblue;
  color: white;
}

.wrapper .box:hover {
  background-color: lightblue;
  color: black;
  cursor: pointer;
}

/* animations */

@keyframes disappear {
  50% {
    color: black;
  }
}

@-webkit-keyframes disappear {
  50% {
    color: black;
  }
}

@keyframes boxshade {
  50% {
    box-shadow: 0 0 50px #48b2de;
  }
}

@-webkit-keyframes boxshade {
  50% {
    box-shadow: 0 0 50px white;
  }
}

/* header and wrapper */

header {
  animation: disappear 5s infinite;
  width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  font-family: 'Coda', cursive;
  font-size: 100px;
  color: #0bcaff;
  text-shadow: 0 0 20px white;
}

/* boxes */

.box {
  width: 200px;
  height: 300px;
  margin-left: auto;
  margin-top: 50px;
  padding: 50px;
  position: absolute;
  background: #0bcaff;
  border-radius: 40px;
  box-shadow: 0 0 20px lightblue;
  color: white;
}

.wrapper .box:hover {
  background-color: lightblue;
  color: black;
  cursor: pointer;
}

p {
  text-align: center;
  font-family: 'Coda', cursive;
  font-size: 50px;
  margin-top: 40px;
}

.line-through {
  text-decoration: line-through;
}
